{
  "openapi": "3.1.0",
  "info": {
    "title": "MapX SaaS API",
    "version": "1.0.0",
    "description": "Public REST API for MapX. Authenticate with a personal API key (Bearer mkx_...) created from the MapX account. All endpoints are scoped to the account that owns the key; each endpoint also enforces a capability scope (session, chat, files, layers, map, reports, remote, keys). Errors use a uniform envelope: {\"error\":{\"code\",\"message\",\"details\"}}. Rate limit: 300 requests per minute per key."
  },
  "servers": [
    {
      "url": "https://api.mapxagent.com/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:3001/api/v1",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sessions",
      "description": "Session lifecycle and metadata."
    },
    {
      "name": "Map",
      "description": "Map state and actions."
    },
    {
      "name": "Chat",
      "description": "AI chat turns and question responses."
    },
    {
      "name": "Files",
      "description": "File listing, upload, and content access."
    },
    {
      "name": "Layers",
      "description": "Layer metadata, style, visibility, and ordering."
    },
    {
      "name": "Reports",
      "description": "HTML report generation and metadata."
    },
    {
      "name": "API Keys",
      "description": "Personal API key management."
    },
    {
      "name": "Usage",
      "description": "Current plan usage."
    },
    {
      "name": "Meta",
      "description": "API metadata."
    }
  ],
  "paths": {
    "/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "listSessions",
        "summary": "List sessions",
        "description": "Requires scope: session.",
        "responses": {
          "200": {
            "description": "List of sessions owned by the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Session UUID."
                          },
                          "title": {
                            "type": "string"
                          },
                          "mapState": {
                            "type": "object",
                            "properties": {
                              "center": {
                                "type": "array",
                                "items": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              },
                              "zoom": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 22
                              },
                              "bearing": {
                                "type": "number"
                              },
                              "pitch": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 85
                              },
                              "basemap": {
                                "type": "object",
                                "properties": {
                                  "style": {
                                    "type": "string"
                                  },
                                  "categories": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "object",
                                      "properties": {
                                        "color": {
                                          "type": "string"
                                        },
                                        "visible": {
                                          "type": "boolean"
                                        }
                                      },
                                      "additionalProperties": {}
                                    }
                                  }
                                },
                                "required": [
                                  "style",
                                  "categories"
                                ],
                                "additionalProperties": {}
                              }
                            },
                            "additionalProperties": {}
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "count"
                      ],
                      "properties": {
                        "count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or disabled account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — e.g. a chat turn is already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "operationId": "createSession",
        "summary": "Create a session",
        "description": "Requires scope: session.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "mapState": {
                    "type": "object",
                    "properties": {
                      "center": {
                        "type": "array",
                        "items": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "zoom": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 22
                      },
                      "bearing": {
                        "type": "number"
                      },
                      "pitch": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 85
                      },
                      "basemap": {
                        "type": "object",
                        "properties": {
                          "style": {
                            "type": "string"
                          },
                          "categories": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "color": {
                                  "type": "string"
                                },
                                "visible": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": {}
                            }
                          }
                        },
                        "required": [
                          "style",
                          "categories"
                        ],
                        "additionalProperties": {}
                      }
                    },
                    "additionalProperties": {}
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Session UUID."
                    },
                    "title": {
                      "type": "string"
                    },
                    "mapState": {
                      "type": "object",
                      "properties": {
                        "center": {
                          "type": "array",
                          "items": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        },
                        "zoom": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 22
                        },
                        "bearing": {
                          "type": "number"
                        },
                        "pitch": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 85
                        },
                        "basemap": {
                          "type": "object",
                          "properties": {
                            "style": {
                              "type": "string"
                            },
                            "categories": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "properties": {
                                  "color": {
                                    "type": "string"
                                  },
                                  "visible": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": {}
                              }
                            }
                          },
                          "required": [
                            "style",
                            "categories"
                          ],
                          "additionalProperties": {}
                        }
                      },
                      "additionalProperties": {}
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or disabled account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — e.g. a chat turn is already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{id}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "getSession",
        "summary": "Get a session",
        "description": "Requires scope: session.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Session UUID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details including map state and layers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Session UUID."
                    },
                    "title": {
                      "type": "string"
                    },
                    "mapState": {
                      "type": "object",
                      "properties": {
                        "center": {
                          "type": "array",
                          "items": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        },
                        "zoom": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 22
                        },
                        "bearing": {
                          "type": "number"
                        },
                        "pitch": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 85
                        },
                        "basemap": {
                          "type": "object",
                          "properties": {
                            "style": {
                              "type": "string"
                            },
                            "categories": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "properties": {
                                  "color": {
                                    "type": "string"
                                  },
                                  "visible": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": {}
                              }
                            }
                          },
                          "required": [
                            "style",
                            "categories"
                          ],
                          "additionalProperties": {}
                        }
                      },
                      "additionalProperties": {}
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or disabled account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — e.g. a chat turn is already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Sessions"
        ],
        "operationId": "updateSession",
        "summary": "Update a session",
        "description": "Requires scope: session.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Session UUID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "mapState": {
                    "type": "object",
                    "properties": {
                      "center": {
                        "type": "array",
                        "items": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "zoom": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 22
                      },
                      "bearing": {
                        "type": "number"
                      },
                      "pitch": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 85
                      },
                      "basemap": {
                        "type": "object",
                        "properties": {
                          "style": {
                            "type": "string"
                          },
                          "categories": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "color": {
                                  "type": "string"
                                },
                                "visible": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": {}
                            }
                          }
                        },
                        "required": [
                          "style",
                          "categories"
                        ],
                        "additionalProperties": {}
                      }
                    },
                    "additionalProperties": {}
                  },
                  "thumbnailUrl": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 500
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Session UUID."
                    },
                    "title": {
                      "type": "string"
                    },
                    "mapState": {
                      "type": "object",
                      "properties": {
                        "center": {
                          "type": "array",
                          "items": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        },
                        "zoom": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 22
                        },
                        "bearing": {
                          "type": "number"
                        },
                        "pitch": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 85
                        },
                        "basemap": {
                          "type": "object",
                          "properties": {
                            "style": {
                              "type": "string"
                            },
                            "categories": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "properties": {
                                  "color": {
                                    "type": "string"
                                  },
                                  "visible": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": {}
                              }
                            }
                          },
                          "required": [
                            "style",
                            "categories"
                          ],
                          "additionalProperties": {}
                        }
                      },
                      "additionalProperties": {}
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or disabled account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — e.g. a chat turn is already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "operationId": "deleteSession",
        "summary": "Delete a session",
        "description": "Requires scope: session.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Session UUID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or disabled account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — e.g. a chat turn is already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{id}/map": {
      "get": {
        "tags": [
          "Map"
        ],
        "operationId": "getMapState",
        "summary": "Get the session map state",
        "description": "Requires scope: session.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Session UUID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current map state (center, zoom, bearing, pitch, basemap).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "center": {
                      "type": "array",
                      "items": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    "zoom": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 22
                    },
                    "bearing": {
                      "type": "number"
                    },
                    "pitch": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 85
                    },
                    "basemap": {
                      "type": "object",
                      "properties": {
                        "style": {
                          "type": "string"
                        },
                        "categories": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "color": {
                                "type": "string"
                              },
                              "visible": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": {}
                          }
                        }
                      },
                      "required": [
                        "style",
                        "categories"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or disabled account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — e.g. a chat turn is already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{id}/chat": {
      "post": {
        "tags": [
          "Chat"
        ],
        "operationId": "startChatTurn",
        "summary": "Start an AI chat turn",
        "description": "Requires scope: chat. Streams turn events as SSE (text/event-stream). Returns 409 if a turn is already in progress.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Session UUID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 8000
                  }
                },
                "required": [
                  "message"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of turn events.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or disabled account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — e.g. a chat turn is already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{id}/ask/respond": {
      "post": {
        "tags": [
          "Chat"
        ],
        "operationId": "respondToQuestion",
        "summary": "Answer a pending AI question",
        "description": "Requires scope: chat.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Session UUID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "question_id": {
                    "type": "string"
                  },
                  "questionId": {
                    "type": "string"
                  },
                  "answer": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "answer"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Answer accepted."
          },
          "400": {
            "description": "Bad request — invalid or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or disabled account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — e.g. a chat turn is already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{id}/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "operationId": "listFiles",
        "summary": "List session files",
        "description": "Requires scope: files.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Session UUID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files in the session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "fileType": {
                            "type": "string"
                          },
                          "fileSize": {
                            "type": "integer"
                          },
                          "columns": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "required": [
                        "count"
                      ],
                      "properties": {
                        "count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or disabled account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — e.g. a chat turn is already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "uploadFile",
        "summary": "Upload a file",
        "description": "Requires scope: files. Multipart upload; supported types are GeoJSON/JSON, CSV/Excel, and GeoTIFF.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Session UUID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded file record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "fileName": {
                      "type": "string"
                    },
                    "fileType": {
                      "type": "string"
                    },
                    "fileSize": {
                      "type": "integer"
                    },
                    "columns": {
                      "type": "array",
                      "items": {}
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — insufficient scope or disabled account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable machine-readable error code, e.g. bad_request, insufficient_scope, rate_limited."
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "description": "Optional extra context."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
[...]
